* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    list-style: none;
}

html {
    height: 100%;
}

.Contenedor {
    background-color: rgba(24, 90, 90, 0.674);
    text-align: center;
    font-family: Inconsolata;

    display: grid;
    grid-template-areas: "cabecera"
        "navegador"
        "cuerpo"
        "pie";


}

.Cabecera {
    grid-area: cabecera;
    background-image: url(imagenes/images\ \(1\).jpeg);
    background-size: cover;
    height: 450px;

    color: #143c02;
    padding: 30px;
}


.Cabecera h1 {
    font-size: 5rem;
    padding: 10px;
    margin: 20px;
}

.Cabecera h2 {
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    color: #143c02;

}



.NavPaginas a {
    color: #000000;
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    transition: 3s;
    float: left;

}

.NavPaginas a:hover {
    background-color: rgba(0, 0, 0, 0.985);
    border: #143c02 3px solid;
    color: #143c02;
    transform: scaleX(1.3);
}













.NavIndex {
    grid-area: navegador;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    height: 60px;

}



.NavIndex li a {
    color: #143c02;
    font-size: 2rem;
    transition: 3s;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.NavIndex li a:hover {
    background-color: rgb(2, 27, 5);
    border: #143c02 3px solid;
    transform: scaleX(1.3);
}







.CuerpoIndex {
    grid-area: cuerpo;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    margin: 40px;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;

}

.CuerpoIndex li {
    margin: 2opx;
    padding: 20px;

}

.CuerpoContacto {
    grid-area: cuerpo;
    height: 500px;
    margin: 40px;
    padding: 20px;
    display: grid;
    justify-items: center;



}

.CuerpoContacto h2 {
    font-size: 2rem;
}

.CuerpoContacto div form {
    background-color: rgba(24, 90, 90, 0.674);
    border: #143c02 2px solid;
    width: 400px;
    height: 250px;
    margin: 5px;
    padding: 10px;
    display: inline-block;


}

.CuerpoContacto div form label {
    margin: 4px;
    padding: 4px;

}

.CuerpoContacto div form input {
    transition: 1s;
}

.CuerpoContacto div form input:focus {
    transform: scale(2);
}

.CuerpoTerneros {
    grid-area: cuerpo;
    width: 90%;
    height: 800px;
    margin: 40px;
    padding: 20px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.CuerpoTerneros h2 {
    font-size: 2rem;
}

.CuerpoTernerosLista {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.CuerpoTernerosLista li img {
    margin: 10px;
    padding: 5px;
}

.CuerpoTernerosTabla {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    width: 80%;
    height: 90%;
    font-size: 2rem;

}


.CuerpoToros {
    grid-area: cuerpo;
    width: 70%;
    height: 800px;
    margin: 40px;
    padding: 20px;
    text-align: center;
    display: grid;

}

.CuerpoToros h1 {
    font-size: 3rem;
}

.CuerpoToros h2 {
    font-size: 2rem;
}

.CuerpoTorosLista {

    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.CuerpoTorosLista li {
    margin: 5px;
    padding: 5px;
}

.CuerpoTorosLista li img {
    margin: 5px;
    padding: 5px;
}


.CuerpoPedidos {
    
    grid-area: cuerpo;
    margin: 20px;
    padding: 10px;
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-content: stretch;
    font-size: 1.5rem;

}

.CuerpoPedidos h2 {
    font-size: 3rem;

}

.PrimerRenglon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

}


.SemillasCampeones {
    margin: 10px;
    padding: 10px;
}

.SemillasCampeones ul {
    margin: 10px;
    padding: 10px;
}

.SemillasCampeones ul li {
    margin: 10px;
    padding: 10px;
}

.SemillasCampeones ul li input {
    transition: 1s;
}

.SemillasCampeones ul li input:checked {
    transform: scale(2);

}

.SemillasCampeones ul li input:focus {
    transform: scale(2);
}

.SemillasCampeones ul li label {
    margin: 10px;
    padding: 10px;
}

.TorosVenta {
    margin: 10px;
    padding: 10px;

}

.TorosVenta ul {
    margin: 10px;
    padding: 10px;
}

.TorosVenta ul li {
    margin: 10px;
    padding: 10px;
}

.TorosVenta ul li input {
    transition: 1s;
}

.TorosVenta ul li input:checked {
    transform: scale(2);
}

.TernerosVenta {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;

}

.TernerosVenta ul {
    display: flex;
    margin: 5px;
    padding: 5px;
}

.TernerosVenta ul li {

    margin: 5px;
    padding: 5px;
}

.TernerosVenta ul li input {
    transition: 1s;
}

.TernerosVenta ul li input:focus {
    transform: scale(2);
}







.PieComun {
    grid-area: pie;
    background-color: rgba(24, 90, 90, 0.674);
    display: flex;
    justify-content: space-between;

}

#Contacto {
    text-align: left;

}

#Contacto ul li a {
    color: #000000;
    font-size: 2rem;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    transition: 3s;

}

#Contacto ul li a:hover {
    background-color: rgba(0, 0, 0, 0.985);
    border: #143c02 3px solid;
    color: #143c02;
    transform: scaleX(1.3);
}

.redessociales {
    display: flex;
    margin: 15px;
    padding: 15px;
    justify-content: right;



}

.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    border-radius: 7px;

}

.redessociales ul li a {
    display: block;
    box-shadow: 0 3px 5px 0px #000000;
    ;
    transition: .2s;

}

.redessociales ul:hover a {
    filter: blur(2px);
    border-radius: 6px;

}

.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.3);
    box-shadow: 0 5px 5px 0px rgb(0, 0, 0);
    filter: none;
    border-radius: 6px;

}

.redessociales ul li .facebook:hover {
    background-color: #0c3283;
    border-radius: 6px;
}

.redessociales ul li .instagram:hover {
    background-color: #bd2635;
    border-radius: 6px;
}

.redessociales ul li .whatsapp:hover {
    background-color: #188b0b;
    border-radius: 6px;
}

.redessociales ul li .youtube:hover {
    background-color: #bb0808;
    border-radius: 6px;
}
@media all and (max-width:820px) /*ipad air*/ {
    .Contenedor {
        height: 100%;
    }

    .Cabecera h1 {
        font-size: 4rem;
        padding: 2px;
        margin: 5px;
    }

    .Cabecera h2 {
        font-size: 2rem;
        padding: 2px;
        margin: 5px;
        color: #143c02;

    }

    .NavIndex {
        height: 130px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .NavIndex li a {
        font-size: 2rem;

    }

    .CuerpoIndex {
        grid-area: cuerpo;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        margin: 0px;
        padding: 0px;

    }

    .CuerpoIndex ul {
        justify-content: center;
        align-items: center;
    }

    .CuerpoIndex li {
        justify-content: center;
        align-items: center;

    }

    .PieComun {
        height: 100px;
        grid-area: pie;
        display: flex;
        justify-content: space-between;
    
    }

    #Contacto ul li a {
        font-size: 2rem;
        padding: 2px;
        margin: 2px;
        transition: 3s;
    }

    



    .CuerpoContacto {
        grid-area: cuerpo;
        height: 500px;
        margin: 5px;
        padding: 2px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;

    }


    .CuerpoContacto h2 {
        font-size: 2rem;

    }

    .CuerpoContacto div form {

        width: auto;
        height: 265px;
        margin: 2px;
        padding: 5px;
        display: inline-block;
    }

    .CuerpoContacto div form label {
        margin: 1px;
        padding: 1px;

    }




    .CuerpoTerneros {
        grid-area: cuerpo;
        width: 90%;
        height: 1000px;
        margin: auto;
        padding: 5px;
        text-align: center;
        display: grid;
        justify-items: center;
    }

    .CuerpoTerneros h2 {
        font-size: 1.5rem;
    }

    .CuerpoTernerosLista {
        margin: 5px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .CuerpoTernerosLista li img {
        margin: 5px;
        padding: 2.5px;
    }

    .CuerpoTernerosTabla {
        border: 1px solid black;
        padding: 2.5px;
        margin: 5px;
        width: 80%;
        height: 90%;
        font-size: 1rem;

    }

    .CuerpoToros {
        grid-area: cuerpo;
        height: 1400px;
        width: 800px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 4fr 1fr 2fr;
        justify-content: center;
       
        
       
    }
    .CuerpoToros h1 {
        font-size: 2rem;
        max-width: 800px;
        display: inline-block;
        margin: 5px;
        
    }

    .CuerpoToros h2 {
        font-size: 1rem;
    }

    .CuerpoTorosLista {
        margin: 1px;
        padding: 0%;
        max-width: 800px;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }
    
    .CuerpoTorosLista li {
        margin: 0;
       max-width: 800px;
       justify-content: center;
    }


    .CuerpoPedidos {
        height: 700px;
        max-width: 800px;
    }
    .TernerosVenta {
        max-width: 800px;
       
        
        
    
    }
    .TernerosVenta ul {
        
        display: flex;
        margin: 1px;
        padding: 1px;
        
       
        
    }
    
    .TernerosVenta ul li {
        display: flex;
        margin: 2px;
        padding: 1px;
    }
    
  
}


@media all and (max-width:390px)/*iphone 12pro*/{

    .Contenedor {
        height: 100%;
    }

    .Cabecera h1 {
        font-size: 2.5rem;
        padding: 2px;
        margin: 5px;
    }

    .Cabecera h2 {
        font-size: 1.5rem;
        padding: 2px;
        margin: 5px;
        color: #143c02;

    }

    .NavIndex {
        height: 130px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .NavIndex li a {
        font-size: 1.5rem;

    }

    .CuerpoIndex {
        grid-area: cuerpo;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        margin: 0px;
        padding: 0px;

    }

    .CuerpoIndex ul {
        justify-content: center;
        align-items: center;
    }

    .CuerpoIndex li {
        justify-content: center;
        align-items: center;

    }

    .PieComun {
        height: 100px;
        grid-area: pie;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto
    }

    #Contacto ul li a {
        font-size: 1rem;
        padding: 2px;
        margin: 2px;
        transition: 3s;
    }

    .redessociales {
        justify-content: start;
        padding: 2px;
        margin: 2px;
    }

    .redessociales li a {
        justify-content: start;
        padding: 2px;
        margin: 2px;
    }




    .CuerpoContacto {
        grid-area: cuerpo;
        height: 350px;
        margin: 5px;
        padding: 2px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;

    }


    .CuerpoContacto h2 {
        font-size: 1rem;

    }

    .CuerpoContacto div form {

        width: auto;
        height: 265px;
        margin: 2px;
        padding: 5px;
        display: inline-block;
    }

    .CuerpoContacto div form label {
        margin: 1px;
        padding: 1px;

    }




    .CuerpoTerneros {
        grid-area: cuerpo;
        width: 90%;
        height: 1000px;
        margin: auto;
        padding: 5px;
        text-align: center;
        display: grid;
        justify-items: center;
    }

    .CuerpoTerneros h2 {
        font-size: 1.5rem;
    }

    .CuerpoTernerosLista {
        margin: 5px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .CuerpoTernerosLista li img {
        margin: 5px;
        padding: 2.5px;
    }

    .CuerpoTernerosTabla {
        border: 1px solid black;
        padding: 2.5px;
        margin: 5px;
        width: 80%;
        height: 90%;
        font-size: 1rem;

    }
    .CuerpoToros {
        grid-area: cuerpo;
        height: 1300px;
        max-width: 390px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 4fr 1fr 3fr;
        
       
    }
    .CuerpoToros h1 {
        font-size: 1.3rem;
        padding: 0%;
        margin: 0%;
        max-width: 390px;
    }

    .CuerpoToros h2 {
        font-size: 1rem;
    }

    .CuerpoTorosLista {
        margin: 1px;
        padding: 0%;
        max-width: 390px;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .CuerpoTorosLista li {
        margin: 0;
        width: 1fr;
    }




    .CuerpoPedidos {
    
        grid-area: cuerpo;
        margin: 5px;
        padding: 3px;
        height: 800px;
        max-width: 390px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        align-content: stretch;
        font-size: 1rem;
    
    }
    
    .CuerpoPedidos h2 {
        font-size: 1rem;
        display: inline-block;
        margin: 2px;
        padding: 2px;
    
    }
    
    .PrimerRenglon {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      text-align: center;
    
    }
    
    
    .SemillasCampeones {
        margin: 2px;
        padding: 2px;
    }
    
    .SemillasCampeones ul {
        margin: 2px;
        padding: 2px;
    }
    
    .SemillasCampeones ul li {
        margin: 2px;
        padding: 2px;
    }
    
   
    .SemillasCampeones ul li label {
        margin: 2px;
        padding: 2px;
    }
    
    .TorosVenta {
        margin: 2px;
        padding: 2px;
        display: grid;
        grid-template-columns:  1fr;
    
    }
    
    .TorosVenta ul {
        margin: 2px;
        padding: 2px;
    }
    
    .TorosVenta ul li {
        margin: 2px;
        padding: 2px;
    }
    
   
    
    .TernerosVenta {
        max-width: 390px;
        display: grid;
        grid-template-rows: auto auto auto;
        
        
    
    }
    
    .TernerosVenta ul {
        
        display: grid;
        margin: 1px;
        padding: 1px;
    }
    
    .TernerosVenta ul li {
        
        margin: 1px;
        padding: 1px;
    }
    
   
    


}